.blog{
    background-image: url(../../images//blog//blog-left-dec.jpg);
}

.Blog_left h4{
    line-height: 2.2rem;
    font-size: 1.5rem;

}
.Blog_left p{
    color: gray;
}
 .btn_seo{
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-size:1rem;
    font-weight: 600;
    background-color: var(--blue);
    color: #fff;
}
.Blog_left .btn_MOR{
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-size:0.8rem;
    font-weight: 600;
    /* background-color: var(--blue); */
    background-color: #fff;
    color: black;
    background-color: #fff;
    border: 2px solid var(--blue);
    transition: all 0.5s;
}
.Blog_left .btn_MOR:hover{
    background-color: var(--blue);
    color: #fff;
}
:root {
    --blue: #4EA6E7;
    --orange: #F58B57;
    --sky:#736BE3
  }
  .imageDiv{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-right:12px ;
  }
  .imageDiv img{
      width: 100%;
      height: 100%;
      border-radius: 50%;

  }
  .Blog_left .card{
      border-radius: 20px;
  }
  .lage_image{
      border-radius: 20px 20px 0 0;
      
  }